<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/kube.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="units-row" id="body">
      <div class="unit-centered" id="header">
        <hgroup>
          <h3 align="center"><%= title %></h3>
          <h3 class="subheading" align="center">Welcome to <%= title %></h3>
      </div>
      
      <div class="unit-centered unit-80" id="form-search">
        <form method="GET" action="/find" class="forms">
          <fieldset  style="margin:0">
            <legend><h4>Поиск запчастей</h4></legend>
            <div class="units-row units-split">
              <div class="unit-33">
                <label for="name">
                  OEM-код
                  <input type="text" name="code" class="width-90">
                </label>
                <label for="name">
                  Название запчасти
                  <select class="width-90"  name="spare">
                    <option>Запчасть</option>
                  </select>
                </label>
              </div>
              <div class="unit-33">
                <label for="marka">
                 Марка
                  <select class="width-90"   name="marka">
                    <option>Марка</option>
                  </select>
                </label>
                <label for="model">
                  Модель
                  <select class="width-90"   name="model">
                    <option>Модель</option>
                  </select>
                </label>
                <label for="model-year">
                  Год выпуска
                  <select class="width-90"   name="model-year">
                    <option>Год выпуска</option>
                  </select>
                </label>
              </div>
              <div class="unit-33">
                <label for="motor">
                 Тип двигателя
                  <input type="text" name="motor" class="width-90">
                </label>
                <label for="kuzov">
                 Тип кузова
                  <input type="text" name="kuzov" class="width-90">
                </label>
                <label for="city">
                  Город
                  <select class="width-90"  name="city">
                    <option>Город</option>
                  </select>
                </label>
              </div>
            </div>
            <input type="submit" class="btn btn-blue" value="Искать">
          </fieldset>
        </form>
        <div>
          
        </div class="unit-centered unit-80">
          <label><h4>Результаты поиска</h4>
            <table class="width-100">
              <tr>
                <td>Номер</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Фото</td>
                <td>Дата</td>
              </tr>
              <tr>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
              </tr>
              <tr>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
              </tr>
            </table>
          </label>
          <ul class="pagination">
            <li><a href="#">&larr;</a></li>
            <li><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">&rarr;</a></li>
          </ul>
        </div>
      <div class="unit-centered" id="footer">
        <hgroup>
          <h4 align="center">PS-427/sindzirarenai</h4>
          <h4 class="subheading" align="center">Welcome to <%= title %></h4>
      </div>
    </div>
  </body>
</html> 
