<!DOCTYPE html>
</div class="unit-centered unit-80">
  <label><h4>Результаты поиска</h4>
    <table class="width-100">
      <tr>
      <td>Номер</td>
      <td>Название</td>
      <td>Цена</td>
      <td>Фото</td>
      <td>Дата</td>
      </tr>
      <% if (results!=null) {%>
      <% for(var i=0; i<results.length; i++) {%>
              <tr>
              <td><%= i %></td>
              <td><%= results[i].name %></td>
              <td><%= results[i].price %></td>
              <td><%= results[i].images %></td>
              <td>---</td>
      </tr>
      <% } %>
      <% } %>
    </table>
  </label>
  
  <ul class="pagination">
  <li><a href="#">&larr;</a></li>
  <li><span>1</span></li>
  <li><a href="#">2</a></li>
  <li><a href="#">&rarr;</a></li>
  </ul>
</div>