
html,body {
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
  background-color:#C4E0F8; 
}

#body{   
    min-height:100%;
    margin-bottom: -70px;
    background-color:#F5FFFA;
}

#enter{
  padding-top:10%;
}

*html #body{
  height:100%;
}

#header, #footer{
  background-color:#3d58a8;
}

#footer{
  height: 70px;  
}

.buffer{
  height:70px;
}

.error{
  background-color:red;
  color:black;
  font-size:14px;
}

a:hover, #menu a:hover{
  text-decoration:underline;
  color: #0000FF;
}

#user-menu a:hover{
  background-color:#D7DCFE;
  color: #7584F5   ;
}

a{
  text-decoration:none;
}

#header a:hover{
  color:#ffffff;
}

#header #hello{
  font-weight:bold;
  padding-right:5px;
}

#form-search{
    padding-top:10px;
    /*background-color:#B0C4DE;*/
}

.white{
  color:#ffffff;
}

div#menu{
  padding-top:10px;
}

ul#items{
  list-style:none;
}

ol#pagination {
  position: relative;
  left: -9px;
  margin-left: 0;
  list-style: none;
}
ol#pagination:after {
  content: "";
  display: table;
  clear: both;
}
ol#pagination li {
  float: left;
  margin-right: 2px;
}
ol#pagination li{
  display: block;
  padding: 7px 9px;
  line-height: 1;
  border-radius: 3px;
  color: #0f0f0f;
  text-decoration: none;
  cursor:pointer;
}
ol#pagination .current {
  border: 1px solid #ddd;
}

ol#pagination li:focus,
ol#pagination li:hover {
  text-decoration: none;
  background-color: #3d58a8;
  color: #fff;
}
