<!DOCTYPE html>
<h4>Управление пользователями</h4>
<table class="width-100">
    <thead>
        <td>Имя</td>
        <td>Роль</td>
        <td>Редактировать</td>
        <td>Удалить</td>     
    </thead>
    <tbody>
    <% for (var i=0; i<users.length; i++){%>
    <tr>
        <td><%= users[i].username %></td>
        <td><%= users[i].role%></td>
        <td><a href ='/users/edit/'>Редактировать</a></td>
        <td><a href ='/users/delete/'>Удалить</a></td>     
    </tr>
    <% }%>
    <tbody>
</table>

<form method="POST" action="/user/add" class="forms" id="add-form">
      <fieldset style="margin:0">
        <legend>Добавление пользователя</legend>
        <label for="username">
          <mark class="error" style="display:none" id="user"></mark>
          Логин: <input type="text" name="username" class="width-100"></input>
        </label>
        <label for="password">
          <mark class="error" style="display:none" id="password"></mark>
          Пароль:<input type="password" name="password" class="width-100"></input>
        </label>
        <label for="passwordRepeat">
          <mark class="error" style="display:none" id="passwordRepeat"></mark>
          Повторите пароль:<input type="password" name="passwordRepeat" class="width-100"></input>
        </label>
        <label for="role">
          Роль:<br>
          <br><input type="radio" name="role" value="admin"> Администратор
          <br><input type="radio" name="role" value="user" checked="checked"> Оператор       
        </label>
        <input type="submit" id='add-button' class="btn btn-blue" value="Добавить">
        <input type="reset"class="btn btn-blue" value="Сбросить" >
      </fieldset>
  </form> 

