      <label for="marka">
           Марка
            <select id ="marka" class="width-90" name="marka" 
            onchange="filter('марку','model','model.name',
                                      [{marka:this.value}]),
                      filter('модель', 'model-year','model.year',
                                  [{'model.name':this.value},
                                  {marka:document.getElementById('marka').value}])">
              <option>Все</option>
              <% for(var i=0; i<marka.length; i++) {%>
              <option><%= marka[i] %></option>
              <% } %>
            </select>
          </label>