    <label for="model">
           Модель
            <select id ="model" class="width-90" name="model"
             onchange="javascript:filter('model-year','model.year','model.name', this.value)">
              <option> Выберите марку </option>
            </select>
          </label>
          