    <label for="model-year">
           Год выпуска
            <select id="model-year" class="width-90" name="model.year">
              <option value="all">Выберите модель</option>
            </select>
          </label>